@import "/public/css/variables.module.scss";

.shoppingCart {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  cursor: default;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;

  .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000000, 0.6);
    cursor: pointer;
  }

  .cartWindow {
    position: absolute;
    right: -400px;
    top: 0px;
    bottom: 0px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 140px;
    transition: all 0.5s $anim-easeOut;

    .header {
      width: auto;
      padding: 12px 0;
      margin: 0 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid nth($color-light, 4);
      > h2 {
        color: nth($color-light, 10);
        font-size: 2rem;
        font-weight: 300;
      }
      > button {
        svg {
          width: auto;
          border-radius: 8px;
          padding: 12px;
          cursor: pointer;
          border: 1px solid white;
          transition: all 0.3s;
          &:hover {
            border-color: nth($color-light, 3);
          }
          &:active {
            background-color: nth($color-light, 1);
            border-color: nth($color-light, 5);
          }
        }
      }
    }

    .itemsContainer {
      height: 100%;
      overflow-y: auto;
      .emptyContainer {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        > .icon {
          margin: 80px 0;
          border-radius: 50%;
          padding: 24px 24px 22px 22px;
          background-color: nth($color-light, 2);
          > svg {
            fill: nth($color-light, 7);
          }
        }
        > span {
          text-align: center;
          color: nth($color-light, 7);
          > a {
            margin: 0 4px;
            font-weight: 500;
            text-decoration: underline;
            &:hover {
              color: nth($color-light, 10);
            }
          }
        }
      }
    }

    .lowerSection {
      height: 140px;
      margin: 0 24px;
      border-top: 1px solid nth($color-light, 4);
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      > button {
        width: 80%;
        padding: 10px 0;
        border-radius: 8px;
        border: 1px solid nth($color-light, 4);
        background-color: nth($color-light, 1);
        transition: all 0.3s;
        &:hover {
          border-color: nth($color-light, 5);
          background-color: nth($color-light, 2);
        }
        &:active {
          border-color: nth($color-light, 6);
          background-color: nth($color-light, 3);
        }
      }
      > .checkout {
        color: nth($color-green, 1);
        font-weight: 600;
        border-color: nth($color-green, 6);
        background-color: nth($color-green, 9);
        &:hover {
          border-color: nth($color-green, 4);
          background-color: nth($color-green, 8);
        }
        &:active {
          border-color: nth($color-green, 3);
          background-color: nth($color-green, 7);
        }
      }
    }
  }
  .showWindow {
    right: 0;
  }
}

.shoppingHide {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 480px) {
  .shoppingCart {
    .background {
      background-color: rgba(#000000, 0.3);
    }
    .cartWindow {
      background-color: rgba(#fff, 0.96);
      backdrop-filter: blur(8px);
      width: 90vw;

      .header {
        padding: 8px 0;
        > h2 {
          font-size: 1.6rem;
        }
        > button {
          > svg {
            width: 30px;
            padding: 8px;
          }
        }
      }
      .itemsContainer {
        margin: 0 10px;
      }
    }
  }
}
