@import "/public/css/variables.module.scss";

.shopping {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 20px 0 36px;
  cursor: pointer;
  > button {
    > span {
      position: absolute;
      top: -2px;
      right: -12px;
      width: 24px;
      height: 24px;
      line-height: 22px;
      text-align: center;
      font-size: 14px;
      user-select: none;
      border-radius: 50%;
    }
    .emptyCart {
      color: nth($color-light, 8);
      background-color: nth($color-light, 3);
    }
    .filledCart {
      color: white;
      background-color: nth($color-red, 6);
    }
    > svg {
      fill: none;
      stroke: nth($color-light, 6);
      transition: all 0.3s;
    }
    &:hover {
      > svg {
        stroke: nth($color-light, 8);
      }
    }
  }
}

@media (max-width: 1024px) {
  .shopping {
    margin: 0 0 0 24px;
  }
}

@media (max-width: 768px) {
  .shopping {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 480px) {
  .shopping {
    margin: 0 10px 0 36px;
  }
}
