@import "/public/css/variables.module.scss";

.optionSet {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid nth($color-light, 3);

  > .col1 {
    color: nth($color-light, 8);
    font-size: 1.6rem;
    min-width: 150px;
    > button {
      margin-left: 16px;
    }
  }
  > .col2 {
    display: flex;
    flex-direction: column;
    > .textRow {
      display: flex;
      width: 100%;
      justify-content: space-between;
      > div {
        > button {
          margin-left: 8px;
        }
      }
    }
    > .textAdd {
      border-top: 1px solid nth($color-light, 3);
      margin-top: 16px;
      padding-top: 8px;
      > button {
        margin-left: 8px;
      }
    }

    > .colorRow {
      display: flex;
      justify-content: space-between;
      > div {
        margin-left: 16px;
        > span {
          width: 100px;
          text-align: center;
        }
        > button {
          margin-left: 8px;
        }
      }
    }
    > .colorAdd {
      padding-top: 12px;
      margin-top: 12px;
      border-top: 1px solid nth($color-light, 2);
      > div {
        margin-left: 10px;
        > input {
          margin-left: 16px;
          width: 90px;
        }
      }
      > button {
        width: 200px;
        margin: 8px 24px;
      }
    }
  }
}
