@import "/public/css/variables.module.scss";

.catGroupRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px;
  padding-left: 20px;
  align-items: center;

  > span {
    display: inline-block;
    width: 200px;
    color: nth($color-light, 8);
    font-size: 1.4rem;
  }

  > div {
    > button {
      margin-left: 8px;
    }
  }
  .deleteText {
    width: 100%;
    padding: 20px 20px 40px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .categories {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }
}
