@import "/public/css/variables.module.scss";

@keyframes newSlide {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes oldSlide {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes autoSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.homeSlider {
  width: 100%;
  margin-left: 272px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;

  &:hover {
    > .btnContainer {
      opacity: 1;
    }
    > .prevSlide {
      left: 24px;
    }

    > .nextSlide {
      right: 24px;
    }

    > .slide {
      > div {
        > img {
          transform: scale(1.05);
        }
      }
    }
  }

  .btnContainer {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;

    > button {
      border-radius: 50%;
      padding: 2px 0 0 3px;
      width: 50px;
      height: 50px;
      border: none;
      cursor: pointer;
      border: 1px solid rgba(white, 0);
      background-color: rgba(white, 0.25);
      transition: background-color 0.3s;
      > svg {
        fill: none;
        stroke: nth($color-light, 10);
      }
      &:hover {
        background-color: nth($color-blue, 3);
        > svg {
          stroke: nth($color-light, 3);
        }
      }
      &:active {
        background-color: nth($color-blue, 2);
      }
    }
  }

  .prevSlide {
    left: 30px;
    transform: rotate(180deg);
  }

  .nextSlide {
    right: 30px;
  }

  .slide {
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    transform: translateZ(0);
    top: 0;
    left: 0;
    user-select: none;

    > div {
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      animation: oldSlide;
      animation-duration: 1s;
      overflow: hidden;
      border-radius: 12px;
      img {
        transform: scale(1);
        transition: all 0.4s ease-out;
        object-fit: cover;
      }
      > .slideData {
        display: flex;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        padding-top: 10%;
        align-items: center;
        left: 0;
        top: 40px;
        bottom: 0;
        width: 50%;
        color: nth($color-light, 1);
        transition: top 1.5s;
        > h2 {
          font-size: 3.2rem;
          font-weight: 300;
        }
        > span {
          color: nth($color-light, 3);
          margin-top: 40px;
          font-size: 1.4rem;
          transition: margin 1.6s;
        }
        > a {
          font-size: 1.6rem;
          margin-top: 80px;
          color: nth($color-light, 1);
          border-radius: 6px;
          font-weight: 400;
          padding: 12px 24px;
          background-color: rgba(#000000, 0.8);
          transition: background-color 0.3s, margin 2.4s;
          &:hover {
            font-weight: 500;
            color: nth($color-light, 10);
            background-color: nth($color-light, 2);
          }
        }
      }
      .timeBar {
        position: absolute;
        top: 0;
        width: 0%;
        height: 8px;
        visibility: hidden;
        background-color: rgba(white, 0.3);
        transition: width 0.1s linear;
        animation-name: autoSlide;
        animation-duration: 5s;
        animation-timing-function: linear;
      }
    }
    > .active {
      opacity: 1;
      visibility: visible;
      animation: newSlide;
      animation-duration: 1s;

      > .slideData {
        visibility: visible;
        top: 0;
        > span {
          margin-top: 24px;
        }
        > a {
          margin-top: 40px;
        }
      }
      > .timeBar {
        visibility: visible;
        width: 100%;
        transition: width 5s linear;
      }
    }
  }

  .slideBtnWrapper {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    > div {
      width: 30px;
      height: 30px;
      padding: 8px;
      display: flex;
      cursor: pointer;
      > span {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid rgba(white, 0.3);
        background-color: rgba(white, 0.4);
        transition: all 0.2s;
      }
      &:hover {
        > span {
          background-color: rgba(white, 0.8);
        }
      }
    }
    > .active {
      cursor: default;
      padding: 6px;
      > span {
        border-color: nth($color-light, 4);
        background-color: rgba(white, 0.1);
      }
      &:hover {
        > span {
          background-color: rgba(white, 0.1);
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .storeContainer {
    width: 100%;
    padding: 0 36px;
  }
}

@media (max-width: 1024px) {
  .homeSlider {
    height: 440px;
    margin-left: 0;
    .slide {
      > div {
        .slideData {
          width: 100%;
          padding: 8% 0 0 14%;
          align-items: flex-start;
          > h2 {
            font-size: 2.4rem;
          }
          > span {
            margin-top: 12px;
            font-size: 1.2rem;
          }
          > a {
            font-size: 1.4rem;
          }
        }
      }
    }

    .slideBtnWrapper {
      > div {
        width: 28px;
        height: 28px;
      }
    }
  }
}

@media (max-width: 768px) {
  .homeSlider {
    height: 400px;
    .slide {
      > div {
        .slideData {
          width: 100%;
          padding: 6% 0 0 0;
          align-items: center;
          padding-top: 10%;
          > h2 {
            font-size: 2.4rem;
          }
          > span {
            margin-top: 12px;
            font-size: 1.2rem;
          }
          > a {
            font-size: 1.4rem;
          }
        }
      }
    }

    .slideBtnWrapper {
      > div {
        width: 28px;
        height: 28px;
      }
    }
  }
}

@media (max-width: 480px) {
  .homeSlider {
    height: 240px;
    .slide {
      > div {
        .slideData {
          padding-top: 40px;
          > h2 {
            font-size: 1.8rem;
            padding: 6px 16px;
            border-radius: 4px;
            background-color: rgba(#000000, 0.8);
          }
          > span {
            margin-top: 24px;
            font-size: 1.2rem;
          }
          > a {
            padding: 6px 20px;
            font-size: 1.2rem;
            margin-top: 40px;
          }
        }
      }
      > .active {
        > .slideData {
          > span {
            margin-top: 12px;
          }
          > a {
            margin-top: 24px;
          }
        }
      }
    }

    .btnContainer {
      > button {
        width: 30px;
        height: 30px;
      }
    }
    .slideBtnWrapper {
      > div {
        width: 24px;
        height: 24px;
      }
    }
  }
}
