$color-light: #f6f6f6, #ebebeb, #d9d9d9, #c4c4c4, #a7a7a7, #8f8f8f, #737373,
  #5c5c5c, #414141, #343434;

$color-green: #007351, #008f65, #169c74, #1bb286, #22c393, #75d7c6, #c4eee7,
  #e6fef7, #f0fffa;

$color-blue: #264573, #27559b, #2863bd, #2573e9, #3385ff, #5596f6, #92bdfc,
  #b9d5fe, #d6e7ff;

$color-red: #7e0707, #a11212, #b21919, #c32222, #e12828, #eb4141, #ff6464,
  #ffa5a5, #ffcdcd;

$anim-easeOut: cubic-bezier(0, 0.68, 0.31, 1);
