@import "/public/css/variables.module.scss";

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  flex-direction: column;
  border-bottom: 1px solid nth($color-light, 5);
  z-index: 9;
  width: 100%;
  transition: all 0.6s;
  .top {
    justify-content: space-between;
  }

  section {
    width: 100%;
  }

  > section:nth-child(1) {
    padding: 20px 0;
    border-bottom: 1px solid nth($color-light, 3);
  }

  .left {
    display: flex;
    height: 100%;
    hr {
      height: 16px;
      margin-top: 10px;
      border-left: 1px solid nth($color-light, 5);
    }
  }
  .right {
    .deal {
      gap: 8px;
      margin-right: 16px;
      color: nth($color-red, 3);
    }
  }

  .rightButtons {
    display: flex;
    font-size: 1.6rem;
    color: nth($color-light, 7);
  }

  .search {
    width: 100%;
    height: 44px;
    position: relative;
    margin: 0 54px 0 74px;

    .searchInput {
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      border-radius: 10px;
      color: nth($color-light, 8);
      border: 1px solid nth($color-light, 5);
      padding-left: 50px;

      &:focus {
        border: 3px solid nth($color-blue, 4);
      }
    }

    img {
      position: absolute;
      left: 20px;
      top: 14px;
    }
  }

  .ribbon {
    height: 50px;
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    user-select: none;
    .topCategories {
      display: flex;
      align-items: center;
      margin-left: 16px;
      gap: 4px;
      > li {
        > a {
          cursor: pointer;
          border-radius: 4px;
          padding: 8px 16px;
          display: flex;
          color: nth($color-light, 8);
          transition: background-color 0.4s;
          &:hover {
            background-color: nth($color-light, 2);
          }
          &:active {
            background-color: nth($color-light, 3);
          }
        }
      }
    }

    > .right {
      > ul {
        display: flex;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          border-radius: 4px;
          padding: 8px 16px;

          &:hover {
            background-color: nth($color-light, 2);
          }
          &:active {
            background-color: nth($color-light, 3);
          }
        }
      }
    }
  }
}

.hideNavbar {
  top: -180px;
}

@media (max-width: 1280px) {
  .navbar {
    .ribbon {
      padding: 8px 24px;
    }
  }
}

@media (max-width: 1024px) {
  .ribbon {
    .left {
      .topCategories {
        display: none;
      }
      hr {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .search {
      margin: 0 24px 0 24px;
      .searchInput {
        padding-left: 14px;
      }

      img {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    > section:nth-child(1) {
      padding: 18px 0;
    }
    .search {
      display: none;
    }
    .ribbon {
      .right {
        .pcConfig {
          display: none;
        }
      }
    }
  }
}
