@import "/public/css/variables.module.scss";

.categoryItem {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid nth($color-light, 3);
  cursor: pointer;
  &:hover {
    .subCat {
      visibility: visible;
      opacity: 1;
    }
  }
  > a {
    color: nth($color-light, 8);
    transition: color 0.3s;
    &:hover {
      color: nth($color-light, 10);
    }
    > .iconWrapper {
      width: 28px;
      display: inline-block;
    }
  }
  > .subCat {
    width: 300px;
    position: absolute;
    z-index: 12;
    left: 200px;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(black, 0.2);
    z-index: 1;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    > .catGroup {
      width: 100%;
      display: flex;
      flex-direction: column;
      > a {
        color: nth($color-light, 9);
        padding: 8px 12px;
        border: 1px solid white;
        border-radius: 6px;
        transition: all 0.3s;
        font-size: 1.6rem;
        &:hover {
          border-color: nth($color-light, 3);
          background-color: nth($color-light, 1);
        }
      }

      > .children {
        display: flex;
        flex-direction: column;
        > a {
          color: nth($color-light, 6);
          padding: 8px 12px;
          border: 1px solid white;
          border-radius: 6px;
          transition: color 0.3s, border-color 0.6s, background-color 0.6s;
          font-size: 1.4rem;
          &:hover {
            color: nth($color-light, 8);
            border-color: nth($color-light, 3);
            background-color: nth($color-light, 1);
          }
          &:last-child {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
