@import "/public/css/variables.module.scss";

.listPage {
  margin-bottom: 60px;
  margin-top: 136px;
  > .header {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: nth($color-light, 2);
    > h1 {
      font-size: 2.4rem;
      display: block;
      font-weight: 300;
      color: nth($color-light, 9);
      margin-bottom: 12px;
    }
    .links {
      display: flex;
      gap: 12px;
      a {
        font-size: 1.4rem;
        color: nth($color-light, 6);
        &:after {
          content: "";
          width: 4px;
          height: 8px;
          margin-left: 8px;
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url("/images/icons/arrowIcon01.svg");
        }
        &:hover {
          color: nth($color-light, 9);
        }
        &:last-child {
          font-weight: 500;
          color: nth($color-light, 9);
          &:after {
            display: none;
          }
        }
      }
    }
    > .childrenContainer {
      height: 30px;
      .children {
        display: flex;
        gap: 12px;
        border: 1px solid nth($color-light, 4);
        background-color: nth($color-light, 1);
        border-radius: 4px;
        margin-top: 8px;
        padding: 4px 12px;
        color: nth($color-light, 5);
        font-size: 1.4rem;
        a {
          color: nth($color-light, 7);
          &:after {
            content: "-";
            width: 4px;
            height: 8px;
            margin-left: 8px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center center;
          }
          &:hover {
            color: nth($color-light, 9);
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  .mobileFilter {
    display: none;
    width: 100%;
    margin-top: 12px;
    padding: 0 12px;
    justify-content: space-between;

    > .filterBtn {
      border: 1px solid nth($color-light, 2);
      border-radius: 6px;
      cursor: pointer;
      padding: 8px 20px 8px 32px;
      background-color: white;
      color: nth($color-light, 7);
      font-size: 1.4rem;
      letter-spacing: 1px;
      background-image: url("/images/icons/filterIcon.svg");
      background-repeat: no-repeat;
      background-position: 10px center;
      transition: all 0.3s;
      &:hover {
        background-color: nth($color-light, 1);
        border-color: nth($color-light, 3);
      }
      &:active {
        background-color: nth($color-light, 2);
        border-color: nth($color-light, 4);
      }
    }
  }
  .main {
    width: 100%;
    display: flex;
    padding-top: 36px;

    .rightCol {
      flex-grow: 1;
      margin: 0 24px 0 12px;

      .sortContainer {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        margin: 0 0 20px 12px;
        > img {
          margin-right: 12px;
        }
        > span {
          min-width: 50px;
          font-weight: 500;
          margin-right: 12px;
          color: nth($color-light, 9);
        }
      }

      .listContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
        margin-bottom: 60px;
      }
    }
  }
}
.noItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  min-height: 400px;
  gap: 16px;
  > button {
    width: 200px;
  }
}

.sklList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 28px 0 0 8px;
  margin-bottom: 400px;
  > .item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 240px;
    > div {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

@media (max-width: 1280px) {
  .listPage {
    .main {
      .rightCol {
        margin: 0 0 0 12px;
        .listContainer {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .listPage {
    .mobileFilter {
      display: flex;
    }
    .main {
      padding-top: 8px;

      .rightCol {
        width: 100%;
        margin: 0;
        .sortContainer {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .listPage {
    > .header {
      height: auto;
      padding: 20px 10px;
      > .childrenContainer {
        height: auto;
        .children {
          a {
            color: nth($color-light, 7);
            &:after {
              content: "";
            }
          }
        }
      }
    }
    .main {
      padding-top: 12px;
      .rightCol {
        .listContainer {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .listPage {
    margin-top: 124px;
  }
}

@media (max-width: 320px) {
  .listPage {
    .main {
      .rightCol {
        .listContainer {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
