@import "/public/css/variables.module.scss";

.categoriesContainer {
  min-width: 256px;
  position: absolute;
  height: 500px;
  background-color: white;
  margin-right: 16px;
  border-radius: 12px;
  padding: 0 24px;
  font-size: 1.5rem;
  font-weight: 400;
  color: nth($color-light, 9);
  box-shadow: 0 2px 4px rgba(black, 0.15);
  z-index: 3;
  ul {
    :last-child {
      border-bottom: none;
    }
    > .loading {
      display: flex;
      flex-direction: column;
      gap: 28px;
      justify-content: center;
      margin-top: 22px;
    }
  }
}

@media (max-width: 1024px) {
  .categoriesContainer {
    display: none;
  }
}
