@import "/public/css/variables.module.scss";

.productListItem {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: nth($color-light, 8);
  border-radius: 8px;
  transition: background-color 0.3s;
  user-select: none;
  &:hover {
    background-color: nth($color-light, 1);
  }
  > .name {
    width: 200px;
  }
  > .category {
    width: 200px;
    text-align: left;
  }
  > div {
    > button {
      background-color: white;
      margin-left: 16px;
    }
  }
}
.deleteMsg {
  display: block;
  text-align: center;
  padding: 24px;
  font-size: 1.6rem;
  padding-bottom: 40px;
}
