@import "/public/css/variables.module.scss";

.optionsWindow {
  position: relative;
  display: flex;
  height: 500px;
  flex-direction: column;
  background-color: white;
  z-index: 10;
  font-size: 1.4rem;
  input {
    outline: none;
    border: 1px solid nth($color-light, 3);
    padding: 6px 10px;
    border-radius: 6px;
    &:hover {
      border-color: nth($color-light, 5);
    }
    &:focus {
      border: 2px solid nth($color-light, 8);
    }
  }

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: nth($color-light, 8);
    > h2 {
      flex-grow: 1;
      font-weight: 400;
      font-size: 1.6rem;
      height: 100%;
      padding-top: 6px;
      border-bottom: 1px solid nth($color-light, 3);
    }
    > div {
      display: flex;
      > h3 {
        color: nth($color-light, 5);
        cursor: pointer;
        border-radius: 6px 8px 0 0;
        font-weight: 400;
        font-size: 1.4rem;
        padding: 12px 16px;
        transition: background-color 0.3s;
        border-bottom: 1px solid nth($color-light, 3);
        &:hover {
          background-color: nth($color-light, 1);
        }
      }
      > .active {
        cursor: default;
        color: nth($color-light, 9);
        border-bottom: 2px solid nth($color-blue, 5);
        &:hover {
          background-color: white;
        }
      }
    }
  }

  > .tabContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    > .optionList {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      overflow-y: scroll;
      padding: 12px;
      > .addCategoryOption {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > span {
          text-align: center;
          margin-bottom: 30px;
          width: 300px;
        }
      }

      > .optionRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        padding: 12px;
        border: 1px solid nth($color-light, 3);

        > .col1 {
          color: nth($color-light, 8);
          font-size: 1.6rem;
          min-width: 150px;
          > button {
            margin-left: 16px;
          }
        }
        > .col2 {
          display: flex;
          flex-direction: column;
          > .textRow {
            display: flex;
            width: 100%;
            justify-content: space-between;
            > div {
              > button {
                margin-left: 8px;
              }
            }
          }
          > .textAdd {
            border-top: 1px solid nth($color-light, 3);
            margin-top: 16px;
            padding-top: 8px;
            > button {
              margin-left: 8px;
            }
          }

          > .colorRow {
            display: flex;
            justify-content: space-between;
            > div {
              margin-left: 16px;
              > span {
                width: 100px;
                text-align: center;
              }
              > button {
                margin-left: 8px;
              }
            }
          }
          > .colorAdd {
            padding-top: 12px;
            margin-top: 12px;
            border-top: 1px solid nth($color-light, 2);
            > div {
              margin-left: 10px;
              > input {
                margin-left: 16px;
                width: 90px;
              }
            }
            > button {
              width: 200px;
              margin: 8px 24px;
            }
          }
        }
      }

      // -------------------- SPECIFICATION SECTION --------------------
      > .specGroup {
        padding-bottom: 16px;
        border-bottom: 1px solid nth($color-light, 4);
        > .specTitle {
          display: flex;
          justify-content: space-between;
          > div {
            > button {
              width: 80px;
              margin-left: 8px;
            }
          }
        }
        > .specRow {
          display: flex;
          margin-top: 12px;
          margin-left: 16px;
          justify-content: space-between;
          > div {
            > button {
              width: 80px;
              margin-left: 8px;
            }
          }
        }
      }
      > .specGroupAdd {
        display: flex;
        align-items: center;
        height: 80px;
      }
    }
  }
}
