@import "/public/css/variables.module.scss";

.adminProducts {
  display: flex;
  flex-direction: column;
  > .header {
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 30px;
  }
  > .dataTable {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    color: nth($color-light, 9);
  }
}
