@import "/public/css/variables.module.scss";

.catGroupRow {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  align-items: center;
  border-radius: 8px;
  &:hover {
    background-color: nth($color-light, 1);
  }

  > div {
    > button {
      margin-left: 8px;
    }
  }
  .deleteText {
    width: 100%;
    padding: 20px 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
