:root {
  font-size: 0.625rem;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #797979;
  -webkit-border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: white;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-size: 0.625rem;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  outline: none;
  font-family: inherit;
  transition: border-color 1s, box-shadow 0.5s;
}

a {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  background: none;
  color: inherit;
  &:disabled {
    opacity: 0.5;
  }
}

.storeContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 48px;
}

.flexCol {
  flex-direction: column;
}

.noScroll {
  overflow: hidden;
}

@media (min-width: 1440px) {
  .storeContainer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 48px;
  }
}

@media (max-width: 1280px) {
  .storeContainer {
    width: 100%;
    padding: 0 36px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .storeContainer {
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
  .storeContainer {
    padding: 0 24px;
  }
}
