@import "/public/css/variables.module.scss";

.productBoard {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  > section {
    display: block;
    width: 100%;
  }
  .stars {
    display: flex;
    align-items: center;
    > svg {
      margin-right: 2px;
    }
    > a {
      margin-left: 12px;
      font-size: 1.2rem;
      color: nth($color-blue, 3);
    }
  }

  .favorite {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    padding: 4px;
    background-color: white;
    &:hover {
      > svg {
        fill: nth($color-light, 2);
      }
    }
    &:active {
      > svg {
        fill: nth($color-light, 3);
      }
    }
    > svg {
      width: 24px;
      height: 24px;
      fill: white;
      stroke: nth($color-light, 7);
      transition: all 0.3s;
    }
  }

  > h1 {
    display: block;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 500;
    margin: 30px 0 10px;
    color: nth($color-light, 9);
  }
  .shortDesc {
    display: block;
    font-size: 1.2rem;
    color: nth($color-light, 7);
    margin-bottom: 16px;
  }
  > .specialFeatures {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.4rem;
    color: nth($color-light, 6);
    margin-bottom: 50px;
  }
  .price {
    font-size: 3rem;
    font-weight: 500;
    color: nth($color-light, 9);
    margin-bottom: 20px;
  }
  > hr {
    width: 100%;
    border-top: 1px solid nth($color-light, 3);
    margin-bottom: 20px;
  }
  .dealPrice {
    margin-bottom: 20px;
    > span {
      font-size: 1.4rem;
      &:first-child {
        color: white;
        border-radius: 4px;
        background-color: nth($color-red, 6);
        padding: 3px 12px;
      }
      &:last-child {
        margin-top: 10px;
        display: block;
        color: nth($color-light, 8);
      }
    }
  }

  .optionWrapper {
    .optionName {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 16px;
      span {
        &:first-child {
          color: nth($color-light, 7);
        }
        &:last-child {
          margin-left: 12px;
          font-weight: 500;
          color: nth($color-light, 9);
        }
      }
    }

    .optionList {
      display: flex;
      gap: 16px;
      margin-bottom: 24px;
    }

    .optionType_Text {
      > button {
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 4px;
        border: 1px solid nth($color-light, 5);
        font-weight: 500;
        color: nth($color-light, 5);
        font-size: 1.4rem;
        background-color: white;
        transition: all 0.3s;
        &:hover {
          border-color: nth($color-light, 7);
          color: nth($color-light, 7);
        }
      }
      > .active {
        cursor: default;
        font-weight: 500;
        border-color: nth($color-light, 9);
        color: nth($color-light, 9);
        &:hover {
          border-color: nth($color-light, 9);
          color: nth($color-light, 9);
        }
      }
    }

    .optionType_Color {
      > button {
        width: 28px;
        height: 28px;
        position: relative;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid nth($color-light, 3);
        opacity: 0.5;
        transition: all 0.3s;
        > span {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: 3px;
          border-radius: 50%;
        }
        &:hover {
          opacity: 1;
        }
      }
      > .active {
        cursor: default;
        border-width: 2px;
        opacity: 1;
      }
    }
  }

  .addToCartSection {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .productBoard {
    > h1 {
      font-size: 2rem;
      line-height: 3rem;
    }
    .price {
      font-size: 2.6rem;
    }
  }
}

@media (max-width: 320px) {
  .productBoard {
    > h1 {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
    .price {
      font-size: 2.6rem;
    }
    .addToCartSection {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
    }
  }
}
