@import "/public/css/variables.module.scss";

.productForm {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  z-index: 10;
  font-size: 1.4rem;

  > .nameAndCat {
    display: flex;
    flex-direction: column;
    gap: 16px;
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > .inStockSwitch {
        > span {
          cursor: pointer;
          border-radius: 4px;
          padding: 4px 12px;
          margin-left: 4px;
          border: 1px solid nth($color-light, 2);
          transition: background-color 0.3s;
          &:hover {
            background-color: nth($color-light, 1);
          }
        }
        > .available {
          border: none;
          color: nth($color-light, 1);
          background-color: nth($color-green, 5);
          &:hover {
            background-color: nth($color-blue, 5);
          }
        }
        > .notAvailable {
          border: none;
          color: nth($color-light, 1);
          background-color: nth($color-red, 5);
          &:hover {
            background-color: nth($color-red, 5);
          }
        }
      }
      > .imgInputsContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      > span {
        display: inline-block;
        width: 200px;
      }
    }
    > .specialFeatures {
      max-width: 500px;
      > div {
        display: flex;
        gap: 8px;
        flex-direction: column;
      }
    }
  }

  > .specs {
    margin-top: 20px;
    border-top: 1px solid nth($color-light, 2);
    width: 100%;
    height: auto;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    > span {
      padding-bottom: 12px;
    }
    > .specGroups {
      flex-grow: 3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      margin-bottom: 24px;
      > .specGroupRow {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 12px;
        border-radius: 6px;
        border: 1px solid nth($color-light, 3);
        > .header {
          width: 100%;
          padding-bottom: 12px;
          margin-bottom: 12px;
          border-bottom: 1px solid nth($color-light, 2);
        }
        > .specRow {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px;
          padding-left: 16px;
          border-radius: 6px;
          transition: background-color 0.6s;
          &:hover {
            background-color: nth($color-light, 1);
          }
        }
      }
    }
  }
}
