@import "/public/css/variables.module.scss";

.favorite {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 30px;
  cursor: pointer;
  > span {
    position: absolute;
    top: -2px;
    right: -12px;
    width: 24px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
  }
  > svg {
    fill: white;
    stroke-width: 1.5;
    stroke: nth($color-light, 5);
    transition: all 0.3s;
  }
  &:hover {
    > svg {
      stroke: nth($color-light, 8);
    }
  }
}

@media (max-width: 1024px) {
  .favorite {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .favorite {
    margin-left: 16px;
  }
}

@media (max-width: 480px) {
  .favorite {
    margin-left: 30px;
  }
}
