@import "/public/css/variables.module.scss";

.collectionCard {
  min-width: 324px;
  height: 250px;
  display: flex;
  position: relative;
  border-radius: 12px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
  .leftCol {
    flex-grow: 2;
    margin-left: 30px;
    h2 {
      font-size: 1.6rem;
      color: nth($color-light, 10);
      margin: 28px 0 12px;
      font-weight: 500;
    }
    a {
      display: block;
      position: relative;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: nth($color-light, 8);
      z-index: 2;
      &:hover {
        font-weight: 500;
        color: nth($color-light, 10);
      }
    }
  }

  .imageWrapper {
    position: absolute;
    top: 8px;
    right: 14px;
    width: 140px;
    height: 180px;
    z-index: 1;
    img {
      object-fit: cover;
    }
  }
  > a {
    width: auto;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding-right: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    color: nth($color-light, 8);
    background-image: url("/images/icons/arrowIcon01.svg");
    background-repeat: no-repeat;
    background-position: right center;
    &:hover {
      font-weight: 500;
      color: nth($color-light, 10);
    }
  }
}
