@import "/public/css/variables.module.scss";

@keyframes poppingUp {
  0% {
    margin-top: 24px;
    transform: scale(1.03);
  }
  100% {
    margin-top: 0px;
    transform: scale(1);
  }
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  > .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: rgba(black, 0.1);
    backdrop-filter: blur(2px);
  }
  > .window {
    width: 700px;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: white;
    z-index: 10;
    font-size: 1.4rem;
    color: nth($color-light, 7);
    box-shadow: 0 2px 4px rgba(black, 0.2);
    transform-origin: top center;
    animation-name: poppingUp;
    animation-duration: 0.3s;
    animation-timing-function: $anim-easeOut;

    input {
      outline: none;
      border: 1px solid nth($color-light, 3);
      padding: 6px 10px;
      border-radius: 6px;
      &:hover {
        border-color: nth($color-light, 5);
      }
      &:focus {
        padding: 5px 9px;
        border: 2px solid nth($color-light, 8);
      }
    }

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      color: nth($color-light, 8);
      font-size: 1.6rem;
      border-bottom: 1px solid nth($color-light, 3);
      > button {
        width: 32px;
        height: 32px;
        border-radius: 6px;
        border: 1px solid white;
        transition: background-color 0.4s;
        > svg {
          fill: nth($color-light, 6);
        }
        &:hover {
          background-color: nth($color-light, 1);
          > svg {
            fill: nth($color-light, 8);
          }
        }
        &:active {
          background-color: nth($color-light, 2);
        }
      }
    }

    > .addGroup {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      gap: 16px;

      > .row {
        display: flex;
        align-items: center;
        gap: 16px;

        > .col1 {
          width: 200px;
        }
        > .error {
          width: 100%;
          color: nth($color-red, 5);
        }
      }
    }
    > .windowControl {
      display: flex;
      padding-top: 16px;
      border-top: 1px solid nth($color-light, 3);
      justify-content: center;
      align-items: center;
      gap: 24px;
      > button {
        width: 140px;
      }
    }
  }
}
