@import "/public/css/variables.module.scss";

.category {
  display: flex;
  align-items: center;
  margin-right: 16px;
  user-select: none;
  position: relative;
  > button {
    display: block;
    border-radius: 6px;
    height: 100%;
    transition: background-color 0.3s;
    border: 1px solid white;
    &:hover {
      border-color: nth($color-light, 1);
      background-color: nth($color-light, 2);
    }
    &:active {
      border-color: nth($color-light, 2);
      background-color: nth($color-light, 3);
    }
    > span {
      margin: 0 16px;
      font-size: 1.4rem;
      font-weight: 400;
    }
    > svg {
      margin-left: 16px;
      fill: nth($color-light, 7);
    }
  }
  .isActive {
    color: nth($color-light, 1);
    border-color: nth($color-blue, 3);
    background-color: nth($color-blue, 3);
    > span {
      font-weight: 300;
    }
    > svg {
      fill: nth($color-light, 1);
    }
    &:hover {
      border-color: nth($color-blue, 3);
      background-color: nth($color-blue, 3);
    }
  }

  .menu {
    position: absolute;
    border-radius: 8px;
    overflow: hidden;
    top: 36px;
    width: 260px;
    visibility: hidden;
    opacity: 0;
    border: 1px solid nth($color-light, 4);
    background-color: rgba(white, 0.9);
    backdrop-filter: blur(5px);
    transition: all 0.3s;
    transform: scale(0.97);
    transform-origin: left top;
    box-shadow: 0 0 10px rgba(black, 0.1);
    > a {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 12px 16px;
      transition: all 0.3s;
      font-size: 1.4rem;
      font-weight: 400;
      color: nth($color-light, 9);
      &:hover {
        padding-left: 18px;
        background-color: nth($color-light, 2);
      }
    }
  }

  .showMenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  .category {
    > button {
      > svg {
        display: none;
      }
    }
  }
}
