@import "/public/css/variables.module.scss";

.homePage {
  width: 100%;
  background-color: nth($color-light, 1);

  .heroContainer {
    display: flex;
    width: 100%;
    margin-top: 160px;
  }

  .wideAdContainer {
    width: 100%;
    margin-top: 60px;
    display: flex;
    gap: 16px;
  }

  .homeSection {
    width: 100%;
    margin-top: 60px;
  }

  .cardsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 14px;
  }
  .blogCardContainer {
    display: flex;
    gap: 24px;
  }

  .companiesSection {
    width: 100%;
    margin: 90px 0 120px;
    display: flex;
    flex-direction: column;
    > h2 {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      color: nth($color-light, 10);
    }
    > div {
      display: flex;
      justify-content: space-between;
    }
  }

  .sectionHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    a {
      font-weight: 500;
      color: nth($color-light, 8);
      padding-right: 24px;
      background-image: url("/images/icons/arrowIcon02.svg");
      background-repeat: no-repeat;
      background-position: right center;
      transition: all 0.2s ease-out;
      &:hover {
        padding-right: 22px;
      }
      &:active {
        color: nth($color-light, 10);
      }
    }
    h2 {
      font-weight: 500;
      color: nth($color-light, 10);
    }
  }
}

@media (min-width: 1440px) {
  .companiesSection {
    > h2 {
      margin-bottom: 60px;
    }
  }
  .sectionHeader {
    a {
      font-size: 1.6rem;
    }
    h2 {
      font-size: 2.4rem;
    }
  }
}

@media (max-width: 1440px) {
  .cardsWrapper {
    padding-bottom: 30px;
    overflow-x: scroll;
  }
  .companiesSection {
    > h2 {
      margin-bottom: 60px;
    }
  }
  .sectionHeader {
    a {
      font-size: 1.4rem;
    }
    h2 {
      font-size: 2.4rem;
    }
  }
}

@media (max-width: 768px) {
  .wideAdContainer {
    height: auto;
    flex-direction: column;
  }
  .blogCardContainer {
    flex-direction: column;
  }
  .sectionHeader {
    h2 {
      font-size: 2rem;
    }
  }
  .companiesSection {
    > h2 {
      margin-bottom: 30px;
    }
    > div {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }
}

@media (max-width: 480px) {
  .homePage {
    .wideAdContainer {
      margin-top: 40px;
    }
  }
}
