@import "/public/css/variables.module.scss";

.adminSidebar {
  width: 280px;
  height: auto;
  background-color: white;
  padding: 24px;
  border-right: 1px solid nth($color-light, 3);
  > h2 {
    width: 100%;
    color: nth($color-light, 7);
    font-size: 2.4rem;
    font-weight: 200;
    padding-bottom: 20px;
    margin-bottom: 8px;
    border-bottom: 1px solid nth($color-light, 3);
  }
  > a {
    width: 100%;
    display: block;
    padding: 8px 16px;
    color: nth($color-light, 8);
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 8px;
    transition: background-color 0.3s;
    &:hover {
      background-color: nth($color-light, 1);
    }
    &:active {
      background-color: nth($color-light, 2);
    }
  }
}
